
@{
    ViewBag.Title = "Homepage";
}

<section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="hero-text title">Newsletter</h2>
            </div>
        </div>
    </div>
</section>

<div class="newsletter-body">
    <h3 class="title">Title</h3>
    <p>
        &emsp;
        <span class="first-word">Lorem </span>ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi enim, feugiat eu commodo in, hendrerit eleifend elit. Quisque eget justo vulputate, dictum nibh nec, semper leo. Aenean fringilla magna eu metus dignissim convallis. In sit amet laoreet sem. Nunc fermentum consequat semper. Suspendisse id dignissim sem. Sed lobortis bibendum ex, quis luctus turpis feugiat at. Nulla feugiat tellus id urna interdum luctus.
        Mauris fringilla elit dui, a vehicula magna congue et.
    </p>
    <p>
        &emsp;
        Suspendisse venenatis felis sed bibendum molestie. Nulla ut quam at dui mollis congue sit amet eget mauris. Vivamus libero purus, tempor nec sem vel, porta elementum nibh. In eu iaculis nibh. Nulla risus urna, luctus eu augue quis, tristique imperdiet nunc. Morbi fermentum tempus eros aliquam gravida. Praesent vitae arcu nulla. Maecenas eget lorem dapibus, fringilla eros ut, congue magna. Aliquam feugiat fringilla leo at ullamcorper. Nulla ut lacus elit. Sed aliquet ac sem nec lacinia. Suspendisse potenti. Integer sit amet tincidunt tellus. Sed ac massa eget neque efficitur fermentum.
        Ut vitae velit sit amet arcu porttitor finibus et at arcu.
    </p>
    <p>
        &emsp;
        Pellentesque tristique, felis a finibus cursus, eros justo posuere arcu, a pretium libero ex at ante. Duis placerat sed nunc sit amet tincidunt. Ut augue lorem, tincidunt sed sollicitudin venenatis, pellentesque posuere erat. Aenean ut tempor leo. Maecenas fermentum dolor orci, ut interdum orci dapibus vitae. Sed sagittis congue leo, id accumsan sem elementum a. Aliquam quis mi a sem vulputate facilisis a vitae metus. Sed dignissim luctus arcu id laoreet. In malesuada turpis a ultrices commodo. Praesent posuere bibendum finibus. Vestibulum pellentesque, nisi nec pellentesque fringilla, libero erat venenatis tellus, vitae vestibulum eros dolor vitae ligula.
        Nullam et urna tempus orci interdum pellentesque. Sed dui quam, finibus a sagittis eget, blandit finibus metus. Fusce sollicitudin ante nec pulvinar porttitor. Donec aliquet eros nunc, sed congue ante auctor eu. Donec dolor sem, laoreet vel posuere eu, vulputate eu dui. Aenean et quam tortor. Mauris posuere ullamcorper nisi sit amet elementum. Donec ac ante pretium velit malesuada maximus eu eget massa. Cras eu sodales nisi, vestibulum suscipit dui. Curabitur in mattis libero, vel molestie mi.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>
    <p>
        &emsp;
        Suspendisse potenti.  Quisque gravida lorem non congue ullamcorper. Nulla pharetra ante tortor, non malesuada odio molestie pharetra. Nulla ante nisl, rhoncus at neque vitae, imperdiet laoreet quam. Suspendisse id enim sed dui lacinia ullamcorper sed sed nisi. Praesent semper faucibus vestibulum. Praesent eget risus eu orci vulputate egestas. Curabitur porttitor tempus dui, sed varius lorem commodo quis.
    </p>
</div>