@model c_final_capstone_v2.Models.Search

<h2>Search for books</h2>
@using (Html.BeginForm("SearchResults", "Home", FormMethod.Post))
{
    <div class="formValidationGroup form-group">
        
        @Html.TextBoxFor(m => m.TitleSearchInput, new { placeholder = "Title", @class="form-control" })
    </div>
    <div class="formValidationGroup form-group">
        
        @Html.TextBoxFor(m => m.AuthorSearchInput, new { placeholder = "Author", @class = "form-control" })
    </div>
    <div class="formValidationGroup form-group">
        
        @Html.TextBoxFor(m => m.GenreSearchInput, new { placeholder = "Genre", @class = "form-control" })
    </div>
   
    <button class="formSubmitButton btn btn-default">Search</button>
    

}